.no-eligio {
    color: red;
  }
  
  .suma {
    color: rgb(0, 248, 33);
  }
  
  .resta {
    color: rgb(255, 0, 212);
  }
  
  .multi {
    color: rgb(209, 153, 0);
  }
  
  .division {
    color: rgb(0, 101, 252);
  }